body {
    --color-accent: oklch(65% 50% 0);
    font: 100%/1.5 system-ui;
    display: block;
    max-width: 125ch;
    margin-inline: max(1em, (100% - 125ch) / 2);
    padding: 10px;
    accent-color: var(--color-accent);
  }

dl.info {
  /* ... other styles ... */
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

#duration-tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  backdrop-filter: blur(10px) saturate(1.5);
  padding: 1rem;
}

.rect-duration:hover {
    fill: #EAD6EA;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
}

#demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

#demo label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.predispose {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: center;
  margin-top: 1rem; 
  margin-right: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.predispose dt,
.predispose dd {
  margin: 0;
  padding: 0.5rem;
}

.predispose dt {
  font-weight: bold;
}

.predispose dd {
  font-size: 1.25rem;
}

.preop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  margin-top: 1rem; 
  margin-right: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.preop dt,
.preop dd {
  margin: 0;
  padding: 0.5rem;
}

.preop dt {
  font-weight: bold;
}

.preop dd {
  font-size: 1.25rem;
}

#intro-screen {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    /*background: #111;*/
    background: plum;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    font-family: sans-serif;
    cursor: pointer;
    /*animation: fadeIn 1s;*/
    transition: opacity 0.5s ease;
  }

  /*@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}*/


.line {
      opacity: 0;
      animation: fadeIn 0.8s ease forwards;
    }

    /* Fade-in keyframe */
    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }